body {
    font-size: 14px;
}
header {
    margin-bottom: 1em;
} 
h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 1em 0;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
ul {
    list-style-type: none;
    padding: 0 0 30px 0;
    padding-left: 25px;
}
hr {
    border-bottom: 1px solid #e7e7e7;
    border-top: 0;
    margin-bottom: 35px;
}
body .button {
    padding: 10px 16px;
    margin: 0 8px 8px 0;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    box-shadow: none;
    border: 0;
    box-sizing:border-box;
    display: inline-block;
    font-size: 14px;
}
body .button:hover,
body .button:active {
    cursor: pointer;
    opacity: 0.8;
}

.input:has([hidden]), .hidden {
    display: none;
}
.default-cursor {
    cursor: default;
}
.nav {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
}
.message p {
    margin: 0;
}
.container {
    margin: 1em;
    padding-bottom: 2em;
}
.content fieldset legend {
    margin-top: 2em;
}
.content fieldset p span {
    margin-right: 2em;
}
.content fieldset p span input {
    margin-left: 0.5em;
}
.content .input input,
.content .input select {
    margin-bottom: 1em;
}
.content.add .input input,
.content.add .input select,
.content.add .input textarea {
    width: 450px;
}
.content.add fieldset.input input,
.content.add fieldset.input select,
.content.add fieldset.input textarea {
    width: calc(450px - 1rem);
}


.content .showCode + label {
    font-weight: normal;
    font-size: 14px;
}
.content form .inputDiv {
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem .7rem;
}
input[type='color'],input[type='date'],input[type='datetime'],input[type='datetime-local'],input[type='email'],input[type='month'],input[type='number'],input[type='password'],input[type='search'],input[type='tel'],input[type='text'],input[type='url'],input[type='week'],input:not([type]),textarea,select {
  background-color: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  padding: .6rem 1.0rem .7rem;
  display: block;
  line-height: 1.4rem;
  box-sizing: border-box;
  width: 100%;
}

input[type='color']:focus,input[type='date']:focus,input[type='datetime']:focus,input[type='datetime-local']:focus,input[type='email']:focus,input[type='month']:focus,input[type='number']:focus,input[type='password']:focus,input[type='search']:focus,input[type='tel']:focus,input[type='text']:focus,input[type='url']:focus,input[type='week']:focus,input:not([type]):focus,textarea:focus,select:focus {
  border-color: #9b4dca;
  outline: 0
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>') center right no-repeat;
  padding-right: 3.0rem
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%239b4dca" d="M0,0l6,8l6-8"/></svg>')
}

select[multiple] {
  background: none;
  height: auto
}

textarea {
  min-height: 6.5rem
}

label,legend {
  display: block;
  margin-bottom: .5rem;
}
.tabset {
    display: flex;
    flex-wrap: wrap;
}
.tabset > label {
    border: 1px solid var(--color-lightgray);
    border-bottom: 0;
    margin: 0;
    margin-right: 1em;
    padding: 0.4em 1em;
    border-radius: 3px 3px 0 0;
    opacity: 0.6;
    cursor: pointer;
    order: 1;
}
.tabset input[name="tabs"] {
    display: none;
}
.tabset input[name="tabs"]:checked + label {
    background: var(--color-white);
    opacity: 1;
    position: relative;
    top: 1px;
}
.tabset .tab-content {
    padding: 1em;
    border: 1px solid var(--color-lightgray);
    display: none;
    order: 999;
    flex-grow: 1;
    width: 100%;
}
.tabset input[name="tabs"]:checked + label + .tab-content {
    display: block;
}
.text-center {
    text-align: center;
}
.links a {
    margin-right: 10px;
}
.release-name {
    color: #D33C43;
    font-weight: 400;
    font-style: italic;
}
.bullet:before {
    font-size: 18px;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -1px;
}
.success:before {
    color: #88c671;
    content: "\0056";
    margin-right: 1em;
    font-style:italic;
    font-weight: bold;
}
.problem:before {
    color: #d33d44;
    content: "\0057";
    margin-right: 1em;
}
.cake-error {
    padding: 10px;
    margin: 10px 0;
}
#url-rewriting-warning {
    display: none;
}
.row {
    display: flex;
}
.col {
    padding: 1em;
    display: grid;
    place-content: center;
}
.formCode {
    font-family: consolas, monospace;
}
.inputdiv {
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  padding: .6rem 1.0rem .7rem;
}
footer {
    background: #2b6c9c;
    color: #fff;
    padding: 8px 0 2px;
    box-shadow: 100vw 0 0 0 #2b6c9c, 0 33px 0 0 #2b6c9c, 100vw 33px 0 0 #2b6c9c;
    height: 34px;
    box-sizing: border-box;
}
